# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dotnet compile data
#/bin
#/obj
/.vs

# Directorio para los archivos planos con la informacion que almacena el programa
/programData

